## IMPORTING PACKAGES

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Loading data

In [5]:
df_mkt= pd.read_csv (r"C:\Users\avalerio\OneDrive - Microsoft\Desktop\NOVA\DSML\Clustering Project (1st Project)-20230318\mkt.csv")

df_mkt .head (3)

,CustomerID,Response_Cmp1,Response_Cmp2,Response_Cmp3,Response_Cmp4,Response_Cmp5
0,31958,0,0,0,0,0
1,5387,0,0,0,0,0
2,32006,0,0,0,0,0

In [6]:
df_mkt.tail (3)

,CustomerID,Response_Cmp1,Response_Cmp2,Response_Cmp3,Response_Cmp4,Response_Cmp5
7020,18890,0,0,0,0,0
7021,30206,0,0,0,0,0
7022,16466,0,0,0,0,0

In [7]:
df_mkt.shape

(7023, 6)

In [8]:
df_mkt.dtypes

CustomerID       int64
Response_Cmp1    int64
Response_Cmp2    int64
Response_Cmp3    int64
Response_Cmp4    int64
Response_Cmp5    int64
dtype: object

In [9]:
df_mkt.columns

Index(['CustomerID', 'Response_Cmp1', 'Response_Cmp2', 'Response_Cmp3',
       'Response_Cmp4', 'Response_Cmp5'],
      dtype='object')

In [10]:
df_mkt.rename(columns =
                    {"Response_Cmp1" : "Res_Cmp1", "Response_Cmp2" : "Res_Cmp2", 
                     "Response_Cmp3": "Res_Cmp3", "Response_Cmp4" : "Res_Cmp4", 
                    "Response_Cmp5" : "Res_Cmp5"}, inplace= True
             )

### Check for duplicates

In [11]:
df_mkt.duplicated(subset=['CustomerID'])

0       False
1       False
2       False
3       False
4       False
        ...
7018    False
7019    False
7020    False
7021    False
7022    False
Length: 7023, dtype: bool

In [12]:
len(df_mkt['CustomerID'])-len(df_mkt['CustomerID'].drop_duplicates())

23

In [13]:
#check for missing value

df_mkt.isna()

      CustomerID  Res_Cmp1  Res_Cmp2  Res_Cmp3  Res_Cmp4  Res_Cmp5
0          False     False     False     False     False     False
1          False     False     False     False     False     False
2          False     False     False     False     False     False
3          False     False     False     False     False     False
4          False     False     False     False     False     False
...          ...       ...       ...       ...       ...       ...
7018       False     False     False     False     False     False
7019       False     False     False     False     False     False
7020       False     False     False     False     False     False
7021       False     False     False     False     False     False
7022       False     False     False     False     False     False

[7023 rows x 6 columns]

In [14]:
df_mkt.drop_duplicates(subset=['CustomerID'], inplace=True)

df_mkt

      CustomerID  Res_Cmp1  Res_Cmp2  Res_Cmp3  Res_Cmp4  Res_Cmp5
0          31958         0         0         0         0         0
1           5387         0         0         0         0         0
2          32006         0         0         0         0         0
3           7511         0         0         0         0         0
4          12308         0         0         0         0         0
...          ...       ...       ...       ...       ...       ...
7018       22358         0         0         0         0         0
7019       29516         0         0         0         0         0
7020       18890         0         0         0         0         0
7021       30206         0         0         0         0         0
7022       16466         0         0         0         0         0

[7000 rows x 6 columns]

In [15]:
df_mkt.isna().sum()

CustomerID    0
Res_Cmp1      0
Res_Cmp2      0
Res_Cmp3      0
Res_Cmp4      0
Res_Cmp5      0
dtype: int64

In [16]:
df_mkt.describe()

,CustomerID,Res_Cmp1,Res_Cmp2,Res_Cmp3,Res_Cmp4,Res_Cmp5
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,20066.401571,0.079143,0.073286,0.083000,0.065857,0.014286
std,8684.030062,0.269981,0.260624,0.275902,0.248050,0.118675
min,5078.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12507.500000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,20099.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,27587.750000,0.000000,0.000000,0.000000,0.000000,0.000000
max,35072.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
df_mkt.groupby(['CustomerID'])['Res_Cmp1', 'Res_Cmp2','Res_Cmp3','Res_Cmp4', 'Res_Cmp5'].value_counts()

C:\Users\avalerio\AppData\Local\Temp\ipykernel_18796\3395692029.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_mkt.groupby(['CustomerID'])['Res_Cmp1', 'Res_Cmp2','Res_Cmp3','Res_Cmp4', 'Res_Cmp5'].value_counts()

CustomerID  Res_Cmp1  Res_Cmp2  Res_Cmp3  Res_Cmp4  Res_Cmp5
5078        0         1         0         0         0           1
5081        0         0         0         0         0           1
5084        1         0         0         0         0           1
5087        0         0         0         0         0           1
5090        0         0         0         1         0           1
                                                               ..
35057       0         0         0         0         0           1
35063       0         0         0         1         0           1
35066       0         1         1         0         0           1
35069       0         0         0         0         0           1
35072       0         0         0         0         0           1
Length: 7000, dtype: int64

In [28]:
success_rates = pd.DataFrame({ '1': [df_mkt['Res_Cmp1'].sum()], 'Res_Cmp2': [df_mkt['Res_Cmp2'].sum()], 'Res_Cmp3': [df_mkt['Res_Cmp3'].sum()], 'Res_Cmp4': [df_mkt['Res_Cmp4'].sum()], 'Res_Cmp5': [df_mkt['Res_Cmp5'].sum()] })

success_rates

     1  Res_Cmp2  Res_Cmp3  Res_Cmp4  Res_Cmp5
0  554       513       581       461       100